.business{
    &__content{
        background: #ffffff;
        color: #000000;
        border-radius: 30px;
        padding:  40px 100px 65px ;
        h1{
            font-size: 48px;
            margin: 50px 0;
        }
        button{
            width: 300px;
            padding: 20px 0;
            border-radius: 15px;
            border: none;
            background: #035abd;
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            transition: .4s;
            margin: 30px 0;
        }
        button:hover{
            background: #000;
        }
    }
    &__left{
        img{
            width: 450px;
            border-radius: 15px;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px 0;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
    &__block{
        background: #fff;
        padding: 20px;
        border-radius: 20px;
        h2{
            color: #000;
            margin: 15px 0;
        }
        p{
            color: #646464;
        }
    }
    &__block:last-child{
        background: #fbff00;
    }
    @media (max-width:950px) {
        &__box{
            justify-content: center;
            text-align: center;
        }
        &__left{
            img{
                width: 300px;
            }
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}