.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    &__button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        text-align: center;
        font-size: 16px;
        transition: background-color 0.5s;
    }
    .main__button:hover {
        background: #000000;
        color: #ffffff;
    }
}